<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>oblog</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>04795E8A-E255-4781-8BDA-D8946C07CD08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCA369E5-326D-4D5E-8B73-490B7D985114</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B42CA32-C3D9-4230-9C67-8C41870DC41F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>693AD460-73D0-4904-905E-9E01AADC8769</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3174A7B9-7A5E-494D-A61C-052BEA8FF8C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1E1B65A-21A8-41AA-9817-EEF67792FCDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42DC769B-3CE2-47C1-BED5-7F478850E194</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCA369E5-326D-4D5E-8B73-490B7D985114</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>433EE9F8-D508-4E8F-A119-7501B12037C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D329F93-E64D-4269-BA8D-A976D5FF8B22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>693AD460-73D0-4904-905E-9E01AADC8769</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C5C56C5-D1E4-46FD-A946-D7ACCA046EA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9E9008B-952B-4026-8118-E7219CBB341C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CE6A5E17-8DBA-4F9D-98AD-17C40EC1C1B7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>07A6BFAA-7E7F-4B30-8CD4-2B5B05522E6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56E61A4D-BA0F-41DA-B368-C7459CC2B154</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04795E8A-E255-4781-8BDA-D8946C07CD08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>693AD460-73D0-4904-905E-9E01AADC8769</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCA369E5-326D-4D5E-8B73-490B7D985114</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F4EF0D8-D4B2-4F35-945F-D1098113D2F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04795E8A-E255-4781-8BDA-D8946C07CD08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>954CD9F8-5192-4D00-B39E-EAA997067037</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5ADC612D-9ABD-40C7-B6E6-172C755796BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1E1B65A-21A8-41AA-9817-EEF67792FCDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCA369E5-326D-4D5E-8B73-490B7D985114</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCA369E5-326D-4D5E-8B73-490B7D985114</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB872D09-74A0-4914-B5CA-CEEF5AD1DB96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4626CF7-7783-4609-9EAC-F63CDE68F320</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42DC769B-3CE2-47C1-BED5-7F478850E194</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E18D13C2-FB7D-4757-9E0D-7111D0C03C7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5ADC612D-9ABD-40C7-B6E6-172C755796BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB872D09-74A0-4914-B5CA-CEEF5AD1DB96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C5C56C5-D1E4-46FD-A946-D7ACCA046EA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3953A57-6D14-488A-B575-2DFE910C28EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9C76964-C227-46DD-8B60-1FFC5ECDB9B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Neil Pearce</string>
	<key>description</key>
	<string>Obsidian Daily Note logger</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>olog</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0B42CA32-C3D9-4230-9C67-8C41870DC41F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/pearcenuk/Alfred-public/blob/main/olog/source/info.plist'
readonly workflow_url='https://raw.githubusercontent.com/pearcenuk/Alfred-public/blob/main/olog/olog.alfredworkflow'
readonly download_type='direct'
readonly frequency_check='0'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2D329F93-E64D-4269-BA8D-A976D5FF8B22</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>datatoobsidian</key>
					<string>{query}</string>
					<key>timeyn</key>
					<string>n</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>693AD460-73D0-4904-905E-9E01AADC8769</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>olog</string>
				<key>subtext</key>
				<string>olog &lt;words go here&gt;</string>
				<key>text</key>
				<string>Log to Obsidian daily note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>433EE9F8-D508-4E8F-A119-7501B12037C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>
{time}
{var:datatoobsidian.trim}
</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E9E9008B-952B-4026-8118-E7219CBB341C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6F4EF0D8-D4B2-4F35-945F-D1098113D2F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>obsidian://advanced-uri?vault={var:vaultname}&amp;daily=true&amp;mode=append</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BCA369E5-326D-4D5E-8B73-490B7D985114</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:timeyn}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>y</string>
						<key>outputlabel</key>
						<string>print time and data</string>
						<key>uid</key>
						<string>CE6A5E17-8DBA-4F9D-98AD-17C40EC1C1B7</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>print data</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4C5C56C5-D1E4-46FD-A946-D7ACCA046EA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>datatoobsidian</key>
					<string>{query}</string>
					<key>timeyn</key>
					<string>y</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>04795E8A-E255-4781-8BDA-D8946C07CD08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>EB872D09-74A0-4914-B5CA-CEEF5AD1DB96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>otlog</string>
				<key>subtext</key>
				<string>olog &lt;words go here&gt;</string>
				<key>text</key>
				<string>Log to Obsidian daily note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>56E61A4D-BA0F-41DA-B368-C7459CC2B154</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>
{var:datatoobsidian.trim}
</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>07A6BFAA-7E7F-4B30-8CD4-2B5B05522E6D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clog</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Log latest clipboard to obsidian daily note</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3174A7B9-7A5E-494D-A61C-052BEA8FF8C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>datatoobsidian</key>
					<string>{clipboard}</string>
					<key>timeyn</key>
					<string>n</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A1E1B65A-21A8-41AA-9817-EEF67792FCDD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>clog</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/pearcenuk/Alfred-public/blob/main/olog/source/info.plist'
readonly workflow_url='https://raw.githubusercontent.com/pearcenuk/Alfred-public/blob/main/olog/olog.alfredworkflow'
readonly download_type='direct'
readonly frequency_check='0'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AFA2921C-E9C2-4D77-BD44-C058E7B97AA2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ctlog</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Log latest clipboard to obsidian daily note</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D4626CF7-7783-4609-9EAC-F63CDE68F320</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>datatoobsidian</key>
					<string>{clipboard}</string>
					<key>timeyn</key>
					<string>y</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>42DC769B-3CE2-47C1-BED5-7F478850E194</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>obsidian://search?vault={var:vaultname}&amp;query={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E9C76964-C227-46DD-8B60-1FFC5ECDB9B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>os</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F3953A57-6D14-488A-B575-2DFE910C28EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>obsidian://advanced-uri?vault={var:vaultname}&amp;daily=true</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5ADC612D-9ABD-40C7-B6E6-172C755796BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>odn</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E18D13C2-FB7D-4757-9E0D-7111D0C03C7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>954CD9F8-5192-4D00-B39E-EAA997067037</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Allows you to log to the end of the current days daily note in obsidian

Requirements
------------
Ensure you have Obsidian Community Plugin Advanced URI enabled.

Environment Variables
---------------------
update your vault name in the environment variable vaultname

Customisations
---------------
The blue Clipboard paste block is how the data and its formatting gets into the Daily Note. Feel free to update it as to how you'd like the data to look.

Commands
--------
otlog &lt;text&gt; -  Brings Obsidian to the front and appends current time and starts a new line with the typed in text.

olog &lt;text&gt; -  Brings Obsidian to the front and appends and starts a new line with the typed in text.

ctlog - Brings Obsidian to the front and appends current time and starts a new line with contents of the latest clipboard entry

clog - Brings Obsidian to the front and appends and starts a new line with contents of the latest clipboard entry

hotkey: &lt;hyper&gt;+o - Brings Obsidian to the front and appends and starts a new line with currently selected text

hotkey: &lt;ctrl+alt+cmd&gt;+o - Brings Obsidian to the front and appends current time and starts a new line with currently selected text


os &lt;text&gt; - Bring Obsidian to the front and search the text.

odn or hotkey of your choice - Brings Obsidian to the front and opens Daily Note</string>
	<key>uidata</key>
	<dict>
		<key>04795E8A-E255-4781-8BDA-D8946C07CD08</key>
		<dict>
			<key>note</key>
			<string>Save input to datatoobsidian variable
Set flag to print time in note to YES</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>07A6BFAA-7E7F-4B30-8CD4-2B5B05522E6D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Pastes input data (from var datatoobsidian) after the time on a new line.
CUSTOMISE THIS TO YOUR HEART'S CONTENT</string>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>0B42CA32-C3D9-4230-9C67-8C41870DC41F</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Log current selection to end of daily obsidian note</string>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>2D329F93-E64D-4269-BA8D-A976D5FF8B22</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>3174A7B9-7A5E-494D-A61C-052BEA8FF8C3</key>
		<dict>
			<key>note</key>
			<string>log clipboard contents to Daily obsidian Log WITHOUT timestamp</string>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>42DC769B-3CE2-47C1-BED5-7F478850E194</key>
		<dict>
			<key>note</key>
			<string>Save latest clipboard to datatoobsidian variable
Set flag to print time in note to YES</string>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>433EE9F8-D508-4E8F-A119-7501B12037C2</key>
		<dict>
			<key>note</key>
			<string>Logs arguments to end of daily log
eg: olog words go here</string>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>4C5C56C5-D1E4-46FD-A946-D7ACCA046EA3</key>
		<dict>
			<key>note</key>
			<string>If flag timeyn set to y then print timestamp before data.

If flag timeyn set to n then just print the data</string>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>56E61A4D-BA0F-41DA-B368-C7459CC2B154</key>
		<dict>
			<key>note</key>
			<string>Logs time and arguments to end of daily log
eg: otlog words go here</string>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>5ADC612D-9ABD-40C7-B6E6-172C755796BA</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Opens Daily Note</string>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>1265</integer>
		</dict>
		<key>693AD460-73D0-4904-905E-9E01AADC8769</key>
		<dict>
			<key>note</key>
			<string>Save input to datatoobsidian variable
Set flag to print time in note to NO</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>6F4EF0D8-D4B2-4F35-945F-D1098113D2F2</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Log time and current selection to end of daily obsidian note</string>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>954CD9F8-5192-4D00-B39E-EAA997067037</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Choose your hotkey to open the Daily Note</string>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>1415</integer>
		</dict>
		<key>A1E1B65A-21A8-41AA-9817-EEF67792FCDD</key>
		<dict>
			<key>note</key>
			<string>Save latest clipboard to datatoobsidian variable
Set flag to print time in note to NO</string>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>AFA2921C-E9C2-4D77-BD44-C058E7B97AA2</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>BCA369E5-326D-4D5E-8B73-490B7D985114</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Opens Daily Note
Sets writing to Append
Requires Obsidian Advanced URI</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>D4626CF7-7783-4609-9EAC-F63CDE68F320</key>
		<dict>
			<key>note</key>
			<string>log clipboard contents to Daily obsidian Log
With time</string>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>E18D13C2-FB7D-4757-9E0D-7111D0C03C7B</key>
		<dict>
			<key>note</key>
			<string>Open Daily Note</string>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>1265</integer>
		</dict>
		<key>E9C76964-C227-46DD-8B60-1FFC5ECDB9B8</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Opens Obsidian and searches for text</string>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
		<key>E9E9008B-952B-4026-8118-E7219CBB341C</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Pastes input data (from var datatoobsidian) after the time on a new line.
CUSTOMISE THIS TO YOUR HEART'S CONTENT</string>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>EB872D09-74A0-4914-B5CA-CEEF5AD1DB96</key>
		<dict>
			<key>note</key>
			<string>Small delay to allow a new daily note to open before pasting</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>F3953A57-6D14-488A-B575-2DFE910C28EB</key>
		<dict>
			<key>note</key>
			<string>Search Obsidian
os &lt;text&gt;</string>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>vaultname</key>
		<string>Work</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.5.2</string>
	<key>webaddress</key>
	<string>npearce.me</string>
</dict>
</plist>
