<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.npearce.boopy</string>
	<key>category</key>
	<string>Neil</string>
	<key>connections</key>
	<dict>
		<key>0CB1AAD6-DE5B-4C25-8520-B06C13DA8F12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFAB59E8-7E31-4F51-BB20-5B44858790F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0EE1D0A7-C069-4D9F-9675-7D121076901A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C697305-BB60-4A6D-9081-8663251C2A6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2800B29F-84FF-45E1-A04C-9B549C243B03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF81AEF0-83C9-4E10-A7DE-BAE28D240242</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>553E77C0-5D96-463A-BB23-1559E8B5DDA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AD99F77-9A78-4649-AD78-703FD7E3D20A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>588EB07C-FF80-41C5-B102-D27484996D00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA36E24B-E1EB-4562-B832-B8C47D4A9268</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6433720E-6BAE-4DA0-85D3-443852046E15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2800B29F-84FF-45E1-A04C-9B549C243B03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68B83BBA-CD15-4D58-9984-16C928436985</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>553E77C0-5D96-463A-BB23-1559E8B5DDA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85937AF8-3C5D-4EB5-BE0E-6D509B77EE12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8D90DD3-8421-4D0C-BA08-66B3A777C257</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AD99F77-9A78-4649-AD78-703FD7E3D20A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0EE1D0A7-C069-4D9F-9675-7D121076901A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C697305-BB60-4A6D-9081-8663251C2A6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>588EB07C-FF80-41C5-B102-D27484996D00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9211A1AB-DDD0-41F0-A6FC-8725E06DB6B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>553E77C0-5D96-463A-BB23-1559E8B5DDA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DD94E7E-D2FB-4FB9-92E2-A94DBD9678C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85937AF8-3C5D-4EB5-BE0E-6D509B77EE12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8D90DD3-8421-4D0C-BA08-66B3A777C257</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CB1AAD6-DE5B-4C25-8520-B06C13DA8F12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF59304E-49CC-47CE-8732-A7DF77F224D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4BABCE8-138A-4E7E-AFEF-BB03F06694E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B89FEFD4-5D43-48A0-8A0E-0358E91142AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DD94E7E-D2FB-4FB9-92E2-A94DBD9678C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFAB59E8-7E31-4F51-BB20-5B44858790F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF59304E-49CC-47CE-8732-A7DF77F224D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF81AEF0-83C9-4E10-A7DE-BAE28D240242</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B89FEFD4-5D43-48A0-8A0E-0358E91142AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA36E24B-E1EB-4562-B832-B8C47D4A9268</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6433720E-6BAE-4DA0-85D3-443852046E15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Neil Pearce</string>
	<key>description</key>
	<string>Alfred interface to BOOP commands</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BOOPy</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>n</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>588EB07C-FF80-41C5-B102-D27484996D00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Boop.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>8C697305-BB60-4A6D-9081-8663251C2A6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>

cat &lt;&lt; EOB
{"items": [
EOB

for entry in /Applications/Boop.app/Contents/Resources/scripts/*
do
	file=${$(basename $entry)%.*}
    cat &lt;&lt; EOB
	{
		"title": "$file",
		"arg": "$file"
	},
EOB

done


cat &lt;&lt; EOB
]}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8AD99F77-9A78-4649-AD78-703FD7E3D20A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0EE1D0A7-C069-4D9F-9675-7D121076901A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>EA36E24B-E1EB-4562-B832-B8C47D4A9268</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{var:text}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6433720E-6BAE-4DA0-85D3-443852046E15</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>2800B29F-84FF-45E1-A04C-9B549C243B03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>68B83BBA-CD15-4D58-9984-16C928436985</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>BOOP</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>9211A1AB-DDD0-41F0-A6FC-8725E06DB6B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>b</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>CF81AEF0-83C9-4E10-A7DE-BAE28D240242</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{var:command}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B89FEFD4-5D43-48A0-8A0E-0358E91142AF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>553E77C0-5D96-463A-BB23-1559E8B5DDA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>9DD94E7E-D2FB-4FB9-92E2-A94DBD9678C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>c</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>BFAB59E8-7E31-4F51-BB20-5B44858790F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>a</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>0CB1AAD6-DE5B-4C25-8520-B06C13DA8F12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>⇥</string>
				<key>keycode</key>
				<integer>48</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>AF59304E-49CC-47CE-8732-A7DF77F224D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>85937AF8-3C5D-4EB5-BE0E-6D509B77EE12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>A8D90DD3-8421-4D0C-BA08-66B3A777C257</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/pearcenuk/Alfred-public/main/BOOPy/source/info.plist'
readonly workflow_url='https://raw.githubusercontent.com/pearcenuk/Alfred-public/main/BOOPy/BOOPy.alfredworkflow'
readonly download_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2B19DE82-C21B-4EC8-ACB5-4A15E4BFC6D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{clipboard}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B4BABCE8-138A-4E7E-AFEF-BB03F06694E8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Run your favourite BOOP (https://github.com/IvanMathy/Boop) scripts from Alfred.

It isn't very elegant, but it works for me.

Have fun</string>
	<key>uidata</key>
	<dict>
		<key>0CB1AAD6-DE5B-4C25-8520-B06C13DA8F12</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Select all</string>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>0EE1D0A7-C069-4D9F-9675-7D121076901A</key>
		<dict>
			<key>note</key>
			<string>Save clipboard to text (maybe removed soon)
Save command from List Filter to command to run in BOOP</string>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>2800B29F-84FF-45E1-A04C-9B549C243B03</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>short delay to make sure BOOP is ready</string>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>2B19DE82-C21B-4EC8-ACB5-4A15E4BFC6D7</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>895</real>
		</dict>
		<key>553E77C0-5D96-463A-BB23-1559E8B5DDA3</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>588EB07C-FF80-41C5-B102-D27484996D00</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Clear Boop</string>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>6433720E-6BAE-4DA0-85D3-443852046E15</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Copy text to work on into BOOP</string>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>68B83BBA-CD15-4D58-9984-16C928436985</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>85937AF8-3C5D-4EB5-BE0E-6D509B77EE12</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Run the palette command</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>745</real>
		</dict>
		<key>8AD99F77-9A78-4649-AD78-703FD7E3D20A</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>8C697305-BB60-4A6D-9081-8663251C2A6C</key>
		<dict>
			<key>note</key>
			<string>Launch BOOP and bring to front</string>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>9211A1AB-DDD0-41F0-A6FC-8725E06DB6B8</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>9DD94E7E-D2FB-4FB9-92E2-A94DBD9678C3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>short delay to make sure BOOP is ready</string>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>A8D90DD3-8421-4D0C-BA08-66B3A777C257</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>short delay to make sure BOOP is ready</string>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>AF59304E-49CC-47CE-8732-A7DF77F224D3</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Select all</string>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>B4BABCE8-138A-4E7E-AFEF-BB03F06694E8</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Run the command from list filer</string>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>895</real>
		</dict>
		<key>B89FEFD4-5D43-48A0-8A0E-0358E91142AF</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Run the command from list filer</string>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>BFAB59E8-7E31-4F51-BB20-5B44858790F2</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Copy to Clipboard</string>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>CF81AEF0-83C9-4E10-A7DE-BAE28D240242</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Call up palette in BOOP</string>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>EA36E24B-E1EB-4562-B832-B8C47D4A9268</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>short delay to make sure BOOP is ready</string>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>npearce.me</string>
</dict>
</plist>
